<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Comforter">
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <title>Wonder in Alice land</title>
</head>
<body>
<header>
    <section>
        <div>
            <p>Dear Visitor!</p>
            <p>You have reached the enchanting world of Alice where nothing stays still.
            If you willing to go down the rabbit hole click on the links.</p>
            <p>Good luck!</p>
        </div>
        <button id="button" type="button" class="button" onClick=stop()>Please stop!</button>
    </section>
</header>
    <div id="links">
        <div class="link"><a href="/about">About</a></div>
        <div class="link"><a href="/works">Works</a></div>
        <div class="link"><a href="/photo_gallery">Photos</a></div>
    </div>

<script src="js\js.js"></script>
</body>
</html>